In [ ]:
x = [8,8,0,0,1,2,3,4,5,6,7]
# 8 (800) 123-45-67

In [ ]:
def str_num(x):
    pass

print(str_num(x))

None

In [ ]:
# 0 -> 0
# 5 -> 5
# 13 -> 4
# 642 -> 12 -> 3
# 6291 -> 18 -> 9

In [ ]:
def x_num(n):
  pass

  
print(x_num(0))
print(x_num(5))
print(x_num(13))
print(x_num(642))
print(x_num(6291))

In [ ]:
import pandas as pd
data = {'inn_firm': ['5027207379', '0543037606', '7017304634', '7708307232','3120099967'],
        'okved_firm': ['20.23', '21.24','22.25', '23.26','24.27']}

df = pd.DataFrame(data)

print(df)

df['inn_firm'] = df['inn_firm'].astype(int)

data = {'inn_firm': ['5027207379', '0543037606', '7017304634', '7708307232','3120099967'],
        'name_firm': ['ООО "ВЫМПЕЛ"','МБОУ "СРЕДНЯЯ ШКОЛА #2"', 'ООО "Сибирская проектная компания"', 'ООО "ИН ТРАНС-ТУР"','ООО "АЛЛНЕКС БЕЛГОРОД"']}
  

df1 = pd.DataFrame(data)

print(df1)

|index|inn\_firm|okved\_firm|name\_firm|
|---|---|---|---|
|0|5027207379|20\.23|ООО "ВЫМПЕЛ"|
|1|0543037606|21\.24|МБОУ "СРЕДНЯЯ ШКОЛА \#2"|
|2|7017304634|22\.25|ООО "Сибирская проектная компания"|
|3|7708307232|23\.26|ООО "ИН ТРАНС-ТУР"|
|4|3120099967|24\.27|ООО "АЛЛНЕКС БЕЛГОРОД"|